# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# css
/src/styles/Banner.css
/src/styles/Cart.css
/src/styles/Categories.css
/src/styles/Footer.css
/src/styles/index.css
/src/styles/Layout.css
/src/styles/PlantItem.css
/src/styles/ShoppingList.css
