.ljv-banner {
	border-bottom: solid 3px black;
	text-align: right;
	padding: 32px;
}

.ljv-title-logo {
	display: flex;
	color: black;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.ljv-title {
	padding-left: 32px;
}

.ljv-logo {
	height: 45px;
	width: 45px;
}
